html{
    font-family: Arial, Helvetica, sans-serif;
}
.field label{
    display: grid;
    margin-bottom: 1rem;
    width: 5rem;
}
.field input{
    border: 1px solid black;
    padding: 0.25rem;    
}
.error{
    color: red;
}