
header,footer{
    background-color:blue;
    margin:1%;
    padding: 2%; 
    color:rgb(219, 217, 105);
    display: flex;
    justify-items:center;
    align-items:center;
}

header{
    font-size: 2em;
}

footer{
    font-size:1.5em;
}
button{
    background-color:cyan;
    font-size: 1.5em;
    border-radius: 10px;
  }

   

@media screen and (min-width: 800px){
 body {
        display:grid;
        grid-template-columns: 1fr 4fr 1fr ;
        padding-left: 10%;
        padding-right: 10%;
        font-size:1.5em;
      }
   
   #numLabel{
       padding:10%;
       display:flex;
       justify-self:flex-end;
   }
    .headerfooterclass {
        grid-column:1/end;
        justify-content:center;
        text-align:center;
        height: 60px;
        }
    

    #innerPanel{
        grid-column:2/3;
        display:grid;
        
        grid-template-columns: 1fr 1fr;
        background-color: #a6ee90;
        margin-top: 10px;
    }    

    .dispButton{
        grid-column:1 /span 2;
        width:190%;
        margin: 5%;
        
    }
    #numLabel, #searchLabel,
    #limitLabel{
        grid-column:1/2;
        display:flex;
        justify-content:flex-end;
        margin: 5%;
          }
    
    #pageNum{
        margin: 10%;
        font-size:1em;
    }
     
    #search{
        margin:5%;
        font-size:1em;
    }

    #joke {
        grid-column: 1/3;

    }

    #limitValue{
        margin-left:10%;
        margin-right:10%;
        width:40%;
    }
    
}
        
      
    

